html {
  width: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
html,
body,
p {
  width: 100%;
  padding: 0;
  margin: 0;
}

.clickable {
  cursor: pointer;
}

a {
  color: #424344;
  font-weight: 400;
  font-style: normal;
  font-family: Roboto;
}

a.nav-item {
  font-weight: 400px;
  font: "Roboto";
  font-size: 18px;
  font-style: normal;
  text-transform: uppercase;
}

a.button {
  color: #424344;
  font-weight: 400;
  font-style: normal;
  font-family: Roboto;
  border: 2px solid #c7aca4;
  box-sizing: border-box;
  border-radius: 3px;
}

a.button:hover {
  color: #000000;
  text-decoration: none;
  border: none;
  box-shadow: 1.5px 1.5px 1.5px 1.5px #fbdfd7;
}

section {
  margin-bottom: 0px;
  padding-top: 0px;
}

section.uss {
  padding-top: 0;
  margin-bottom: 0px;
}

section img {
  width: 100%;
  height: auto;
}

section h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 48px;
  display: block;
  font-style: normal;
  width: 100%;
  border-top: 6px solid #fbdfd7;
  border-radius: 0px 5px 5px 0px;
  margin-bottom: 19px;
  padding: 35px 25px 0 25px;
}

section h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  display: block;
  font-style: normal;
  width: 100%;
  margin-bottom: 19px;
  padding: 35px 25px 0 25px;
}

section p {
  font-family: "Roboto";
  font-weight: 400px;
  font-style: normal;
  font-size: 24px;
}

.container .row:first-of-type {
  padding: 0;
}

.uss {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background: no-repeat center center / cover;
  background-image: url("./assets/uss/uss_cover.png");
  background-attachment: fixed;
  max-width: 100%;
}

.uss .title {
  font-weight: 800;
  font-size: 58px;
  margin-left: -2px;
  line-height: 46px;
  padding: 0;
  border: 0 none;
  text-transform: uppercase;
  font-family: "Roboto";
}

.uss .subtitle {
  font-size: 28px;
  margin-bottom: 30px;
}

.uss .button {
  height: 60px;
  line-height: 40px;
}

.uss .button:not(:first-of-type) {
  color: white;
  background-color: #00000099;
}

.uss .col-lg-8 {
  height: 100vh;
}

.accent-bg {
  background-color: #ffa500;
}

.accent-text {
  color: #ffa500;
}

.pusher_10 {
  width: 10px;
  display: inline-block;
}

.hero-box {
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: 9;
  position: absolute;
  transform: translate(-50%, -50%);
  font-weight: 600;
}

.col-md h3 {
  font-weight: 300;
}

.about-me h1 {
  margin-bottom: 40px;
}

.about-me .container p {
  /* margin: 70px 0; */
  padding: 0 25px;
}

.projects .col-md {
  background: #f17b02;
  margin: 20px;
  height: 250px;
  text-align: center;
  border-radius: 8px;
  transition: box-shadow 200ms linear;
  box-shadow: 0 0 10px #ffffff;
  padding: 0;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.card.projects {
  position: relative;
  display: inline-block;
  margin: 50px 20px 50px 100px;
}
.card.projects .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  cursor: pointer;
  width: 100%;
}
.card.projects:hover .img-top {
  display: inherit;
}

.right-align {
  text-align: right;
}

.sm-only {
  display: none;
}

.card {
  border: none;
  background-color: white;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-fluid {
  width: 350px;
}

h5 button {
  float: right;
  background-color: #fbdfd7;
  border: none;
}

div .work-title {
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  font-family: "Roboto";
}

.heading-sm {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-outline {
  background: white;
  border: 3px solid #c7aca4;
  box-sizing: border-box;
  border-radius: 5px;
}

.btn-outline:hover {
  background: white;
  border: none;
}

.btn-xl {
  padding: 10px 30px;
  margin: 10px 30px;
  font-size: 50px;
  border-radius: 5px;
  font-stretch: expanded;
}

.contact .button {
  display: block;
  width: 130px;
  height: 50px;
  background: white;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  padding-top: 10px;
  margin-bottom: 50px;
}

.button-left {
  margin-left: 40px;
}

.buttons {
  padding-left: 35px !important;
}

footer {
  background-color: #fbdfd7;
}

footer h6 {
  font-style: none;
  font-size: 14px;
  font-weight: 600;
}

.badge-primary {
  color: #424344;
  background: rgba(251, 223, 215, 0.53);
  border-radius: 5px;
  align-items: center;
  text-align: center;
  height: 30px;
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  margin: 10px 10px 10px 10px;
}

.skills {
  margin-left: 30px;
  justify-content: center;
}

.card-image {
  height: 350px;
}

@media screen and (max-width: 800px) {
  section {
    padding-top: 0;
  }

  section {
  }

  section.about-me h1 {
    border-top: none;
  }

  section h1 {
    font-size: 32px;
    padding-top: 26px;
  }

  .container .row {
    padding: 0 20px 0 0;
  }

  section.uss {
    background-position: 70% 0;
    margin-bottom: 0;
  }

  .hero-box {
    top: initial;
    left: initial;
    position: relative;
    transform: initial;
    margin-top: 100px;
    margin-left: 10px;
  }

  .uss .title {
    font-size: 46px;
    line-height: 42px;
    margin-bottom: 0;
    text-align: left;
    text-shadow: 0 0 10px black;
  }

  .uss .subtitle {
    font-size: 19px;
    margin-top: 9px;
    margin-bottom: 0;
  }

  .about-me-desc-small {
    margin-top: 10px;
  }

  .card-image {
    height: 200px;
  }

  .container {
    padding: 0 15px;
    padding-right: 20px;
  }

  .card.projects {
    position: relative;
    display: inline-block;
    margin: 20px 10px 20px 20px;
  }

  .card.projects:hover .img-top {
    display: none;
  }
  footer .social-buttons {
    display: none;
  }
  a.button:hover {
    color: #000000;
    text-decoration: none;
    background-origin: padding-box;
    box-shadow: none;
    border: 2px solid #c7aca4;
    box-sizing: border-box;
  }
}

.new-project {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background: no-repeat center center / cover;
  background-image: url("./assets/coming_soon.jpg");
  background-attachment: fixed;
}
